@font-face{
    font-family: 'myfont';
    src: url(./Roboto-Bold.woff2) format(woff2);
    font-weight:600;
    font-style: normal;
}

body{
    margin:0;
    background-color:whitesmoke;
}

header{
    padding:1.5rem;
    display:flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}

nav{
    display:flex;
    gap:16px;
}

.title{
    font-size:1.5rem;
    font-family:'myfont';
}

.middle{
    height:600px;
    display:flex;
    justify-content:space-around;
}

.middle>.description{
    font-family:'myfont';
    padding:1.5rem;
    font-size:1.5rem;
    margin-top:60px;
    width:400px;
    height:300px;
    border-radius:12px;
    border:solid 1px;
}

.middle>.image{
    margin-top:60px;
    width:min(300px,50%);
    height:400px;
    border-radius:12px;
}